body {
  margin: 0px;
  font-family: 'Lato', sans-serif;
  background-color: #dddddd;
  color: #444444;
}

h1 {
  font-size: 500%;
  margin-top: 10px;
  margin-bottom: 5px;
}

h2 {
  font-size: 200%;
  text-align: center;
  margin-bottom: 10px;
}

h5 {
  font-size: 125%;
  margin-top: 0px;
  margin-bottom: 10px;
}

p {
  margin-top: 5px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5px;
  font-size: 20px;
}

input[type=text] {
  width: 75%;
  height: 25px;
  border: 0px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  background-color: #dddddd
  color: #444444;
}

input[type=submit] {
  border: 10px left right top bottom;
  border-color: #444444;
  margin-top: 15px;
  width: 25%;
  font-size: 20px;
  cursor: pointer;
  background-color: #dddddd;
  color: #444444;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

input[type=submit]:hover {
  color: #ffffff;
  background-color: #666666;
}

.header {
  font-family: 'Lato', sans-serif;
  background-color: #444444;
  color: #dddddd;
  margin-top: 0px;
  padding: 10px;
  text-align: center;
}

.broadcast_form {
  text-align: center;
}

.helpline {
  text-align: center;
}

.helpline_entry {
  text-align: center;
  background-color: #bbbbbb;
  color: #444444;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 2px;
  padding-bottom: 5px;
}
